body {
    text-align: center;
}

#gameContainer {
    display: flex;
    flex-wrap: nowrap;
    width: 100vh;
    background: #02b5d2c7;
    height: 80vh;
    /* margin: auto; */
    box-shadow: 0px 5px 10px 0px #d7d7
}

.game-infos {
    width: 40%;
    background: #0080e3c7;
    color: #fff;
}

.gameZone {
    position: relative;
    width: 60%;
}

#wordDisplay {
    font-size: 40px;
    font-family: cursive;
    position: absolute;
    top: 40;
    left: 0;
    right: 0;
}

.type-wrap {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 400px;
    margin: auto;
    border-top: 4px solid black;
    padding-top: 30px;
}

.type-wrap label {
    display: block;
    margin-bottom: 10px;
}

.type-wrap input {
    height: 5vh;
    width: 30vh;
    border-radius: 5px;
    border: 1px solid #027fe3;
}

div#lives {
    height: 5%;
    margin: 10px;
    padding-top: 20px;
    display: flex;
    align-items: center;
}

#lives img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

div#topScores-wrap {
    height: 60%;
    margin: 10px;
    padding-top: 20px;
    border: 1px solid #78eefa;
}

div#score {
    height: 20%;
    margin: 10px;
    padding-top: 20px;
}



.gameZone p {
    color: red;
    font-size: 30px;
    margin: 50% 0;
    text-align: center;
}

.level-text {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
}

.welcome-text {
    margin-top: 20px;
    color: #0165f3;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
}

.container {
    background-image: url('images/blue-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh; /* Set the height to the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}

h2#swal2-title {
    color: #000;
    font-size: 18px;
}

input#swal2-input {
    height: 5vh;
}

button.swal2-confirm.swal2-styled {
    background: #0d6e7b;
}

button#restart-game {
    background: #0d6e7b;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}